@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    font-family: 'Hubballi', cursive;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    
}

#header {
    background-image: linear-gradient(120deg, rgb(212, 252, 121) 0%, rgb(150, 230, 161) 100%);
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Hubballi, cursive;
    border-radius: 10px;
    width: 880px;
    margin-left: 160px;
    
}

#nameAndTitle {
    border-radius: 8px;
    background-color: white;
    width: 280px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2 {
    margin: 0;
}

h1, h2 h3 {
    text-transform: uppercase;
}

#contact {
    list-style: none;
}

#contact li a {
    text-decoration: none;
}

#contact i {
    width: 30px;
    color: #76d382;
}

.card {
    border-radius: 10px;
    height: 100%;
}

#container {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 30% 30%;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

fieldset legend {
    font-size: 20px;
}